<a href="https://colab.research.google.com/github/alejandromanas/Computer_Vision_with_OpenCV/blob/master/Bookings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

H1 = pd.read_csv("https://raw.githubusercontent.com/alejandromanas/GoogleColab_public/master/bookings/files/H1.csv", delimiter = ',')
H1['Hotel']='Resort'

H2 = pd.read_csv("https://raw.githubusercontent.com/alejandromanas/GoogleColab_public/master/bookings/files/H2.csv", delimiter = ',')
H2['Hotel']='Urban'

df_raw=[]
df_raw=pd.concat([H1,H2], axis=0,ignore_index=True)

In [2]:
df_raw

        IsCanceled  LeadTime  ...  ReservationStatusDate   Hotel
0                0       342  ...             2015-07-01  Resort
1                0       737  ...             2015-07-01  Resort
2                0         7  ...             2015-07-02  Resort
3                0        13  ...             2015-07-02  Resort
4                0        14  ...             2015-07-03  Resort
...            ...       ...  ...                    ...     ...
119385           0        23  ...             2017-09-06   Urban
119386           0       102  ...             2017-09-07   Urban
119387           0        34  ...             2017-09-07   Urban
119388           0       109  ...             2017-09-07   Urban
119389           0       205  ...             2017-09-07   Urban

[119390 rows x 32 columns]

In [ ]:
#Preprocessing
df_data=[]
df_data=df_raw.copy()

# NAN
df_data.isnull().any() # nan found in Country & Children

# the value of the country is unreliable
# country is deleted
df_data.drop(columns = 'Country', inplace = True)

# nan in Children are replaced by 0
df_data.Children.replace(np.nan, 0,inplace = True)

# Month converted to numeric
#df_data['ArrivalDateMonthNum']=df_data.ArrivalDateMonth.replace({ 'January' : 1, 'February' : 2, 'March' : 3, 'April' :4, 'May': 5, 'June' : 6, 'July':7, 'August' : 8, 'September' : 9, 'October' : 10, 'November': 11, 'December' : 12 })
#df_data.drop(columns='ArrivalDateMonth',inplace=True)

# Deleting last booking change date
df_data.drop(columns = 'ReservationStatusDate', inplace = True)

#Deleting Reservation Status
df_data.drop(columns = ['ReservationStatus'], inplace = True)

#ADR negative 
index=df_data[df_data.ADR<0].index
df_data.ADR.loc[index]=df_data.ADR.loc[index]*-1

# ADR deleting outliers  >= 5000
#df_data=df_data[df_data['ADR'] < 5000]

# Agent
#9
df_data["Agent_9"] = [1 if x == "          9" else 0 for x in df_data["Agent"]]
#null
df_data["Agent_null"] = [1 if x == "       NULL" else 0 for x in df_data["Agent"]]
#240
df_data["Agent_240"] = [1 if x == "        240" else 0 for x in df_data["Agent"]]
#1
df_data["Agent_1"] = [1 if x == "          1" else 0 for x in df_data["Agent"]]


df_data.drop(columns = 'Agent', inplace = True)

# Company
# Company null = 1, if Company is NULL 
df_data["Company_null"] = [1 if x == "       NULL" else 0 for x in df_data["Company"]]

df_data.drop(columns = 'Company', inplace = True)

# AssignedRoomType is fixed when the customer arrives to hotel (blank for cancelated bookings) 
#df_data.drop(columns = 'AssignedRoomType', inplace = True)